@font-face {
  font-family: Terminator;
  src: url("./terminator.otf") format("opentype");
}

.nav {
  width: 100vw;
}

.title {
  text-align: center;
  font-family: "Terminator", sans-serif;
  font-size: 100px;
  text-shadow: #47f3e4 1px 0 10px;
  text-decoration: underline;
  margin: 0;
  padding-left: 20px;
}

.shadows {
  border-radius: 50%;
  margin: 10px;
  padding: auto;
  transform: perspective(900px) rotateX(60deg) scale(0.9);
  box-shadow: 0px 20px 100px rgba(85, 85, 85, 0.139);
  transition: 0.5s ease all;
}
.shadows:hover {
  transform: rotate(0deg) scale(1) translateY(10px);
}
